/*Global*/
:root {
  /*Fonts*/
  --header-font: "Inter", sans-serif;
  --general-font: "Lexend Deca", sans-serif;
  font-size: 62.5%;

  /*Primary colors*/
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);

  /*Neutral colors*/
  --main-heading: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-heading: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font-family: var(--general-font);
  font-size: 1.5rem;

  background-color: var(--main-background);
}

/*Page Structure*/
#main-wrapper {
  display: flex;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 75%;
}

#content {
  background-color: var(--card-background);

  height: 38rem;
  width: 54rem;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 5rem 7rem;

  border-bottom-left-radius: 2%;
  border-top-left-radius: 2%;
}

picture {
  background-color: var(--accent);

  height: 38rem;
  width: 54rem;

  display: flex;
  flex-direction: row;
  justify-content: end;

  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

/*Page Content*/
#title {
  font-family: var(--header-font);
  font-weight: 700;

  color: var(--main-heading);
}

#title strong {
  color: var(--accent);
}

#description {
  color: var(--main-paragraph);

  height: 50%;
}

#topics {
  font-weight: 400;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#topics h3 {
  font-family: var(--header-font);

  color: var(--main-heading);
}

#topics p {
  font-variant: small-caps;

  color: var(--stat-heading);
}

#image {
  width: 100%;

  mix-blend-mode: multiply;
  filter: opacity(75%);

  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

/*Media Query*/
@media screen and (max-width: 740px) {
  #main-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  picture,
  #content {
    height: 70%;
    width: 90%;

    border-bottom-right-radius: 0;
    border-top-left-radius: 2%;
  }

  #image {
    width: 100%;
  }

  #content {
    height: 60rem;

    padding: 4rem;

    border-bottom-right-radius: 2%;
    border-top-left-radius: 0;
  }

  #title,
  #description {
    text-align: center;
  }

  #topics {
    text-align: center;

    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .topic {
    margin: 1.5rem 0;
  }
}
